@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.fa-brands{
    font-size: 3rem;
}

.toggled {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toggled2 {
    opacity: 0;
}

.toggled3 {
    opacity: 1;
    visibility: visible;
}

.wrapper2 {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 1000px) {
    html {
        font-size: 0.75rem;
    }
    .searchTerm {
        width: 9rem;
        height: 1.8rem;
    }
    button {
        width: 4rem;
    }
    input::placeholder {
        font-size: 1rem;
    }
}

@media (max-width: 650px ) {
    html {
        font-size: 0.6rem;
    }
    .fa-brands {
        font-size: 2.5rem;
    }
    .searchTerm {
        width: 8rem;
        padding: 0.25rem;
    }
    button {
        width: 4rem;
    }
    input::placeholder {
        font-size: 1.2rem;
    }
}

@media (max-width: 475px) {
    .link {
        display: none;
        visibility: hidden;
    }
    .wrapper {
        justify-content: space-around;
        height: 3rem;
    }
    .fa-brands {
        position: absolute;
        left: 0;
        margin-left: 2rem;
        font-size: 1.8rem;
    }
    .search-wrapper {
        position: absolute;
        right: 8rem;
    }
    .burger-open {
        opacity: 1;
        font-size: 1.5rem;
        visibility: visible;
    }
    button {
        font-size: 1rem;
    }
    input::placeholder {
        font-size: 1rem;
    }
}

@media (max-width: 330px) {
    .wrapper {
        padding: 0 3rem;
    }
}